---
import Navigation from './Navigation.astro'
---
<header>
    <strong>WebCo</strong>
    <form id = "search">
        <input name = "search" type = "text">
    </form>
    <nav>
        <Navigation />
    </nav>
</header>
